services:
  db:
    image: pgvector/pgvector:pg16
    volumes:
      - postgres_data_vol:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    networks:
      - rag_network

  rag-app:
    container_name: rag_app_server
    image: oss/rag-app:v1
    build: .
    depends_on:
      - db
    ports:
      - "${APP_PORT}:5000"
    volumes:
      - .:/rag_app
    environment:
      - POSTGRE_CONNECTION=postgresql+psycopg://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
      - OLLAMA_API_KEY=${OLLAMA_API_KEY}
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
      - EMBEDDING_BASE_URL=${EMBEDDING_BASE_URL}
      - FLASK_DEBUG=1
    networks:
      - rag_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  postgres_data_vol:

networks:
  rag_network: