pydantic-settings
langchain==0.3.7
langchain-core==0.3.17
langchain-community==0.3.7
langchain-text-splitters==0.3.2
langchain-ollama==0.2.0
pymupdf
pandas
flask
requests
sentence-transformers
qdrant_client
langchain-qdrant
rank_bm25